---
layout: default
---

<div class="home container-fluid">

  <div class="row">
    <div class="sidebar col-md-3">
      {% include sidebar.html %}
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>

    <div class="post-list col-md-9">
      {% for post in site.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <div class="post-header">
            <h2 class="post-title" itemprop="name headline">{{ post.title }}</h2>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>

          <div class="post-content" itemprop="articleBody">
            {{post.content}}
          </div>
        </article>
      {% endfor %}
    </div>


  </div>
</div>
