---
layout: default
---

<div class="home container-fluid">

  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        {% include sidebar.html %}
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
    </div>

    <div class="post-list col-md-8">
      {% for post in site.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <div class="post-header">
            <h2 class="post-title" itemprop="name headline">{{ post.title }}</h2>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>

          <div class="post-content" itemprop="articleBody">
            {{ post.content | split:'<!--break-->' | first }}
            {% if post.content contains '<!--break-->' %}
                <a href="{{ post.url }}">READ MORE...</a>
            {% endif %}
          </div>
        </article>
      {% endfor %}
    </div>


  </div>
</div>
<script type="text/javascript" src="/js/site.js"></script>
