<div>

    <h2>Upcoming Meets</h2>

    <div>
        With rare exception PythonTrier meets on the second Tuesday of every month at the Maschinendeck Hacker/Maker space at:
        <br/>
        <br/>

        Güterstraße 74<br/>
        54295 Trier.

        <br/>
        <br/>
        Upcoming events are schedueld on:
        <br/>
        <br/>
    </div>
</div>

<div id="event-list"></div>

<div>
    <h2>Speakers needed</h2>
    Looking for those that could share their knowledge about and experience with Python. If you have a favourite package, pet project, or topic that you could present during a meet, then please consider sharing with a lightning talk or full presentation. The choice is yours!
</div>


<div>
    <h2>Group Resources</h2>

    <p>
    <img src="/images/github.png" alt="GitHub" align="left" hspace="5" style="width:50px; height:50px;">There is a GitHub account for the group which can be located at: <a href="https://github.com/PythonTrier">https://github.com/PythonTrier</a>
    Presentations and group projects will all be kept here.
    </p>

    <p>
    <img src="/images/Slack.png" alt="Slack" align="left" hspace="5" style="width:50px; height:50px">
    The group also has a slack account where people can communicate directly
    about meetings, challenges, or anything else in general. The group is “PythonTrier.slack.com.” Just set up an account and join the group. There are apps available for Android, iPhone, as well as a web App that can be used on most browsers.
    </p>

</div>


<div>
    <h2>Conferences</h2>

    <p>
    28-30 Oct 16 - Munich<br/>
    PyCon De<br/>
    <a href="http://www.pymunich.com/">http://www.pymunich.com/</a>
    </p>
</div>
