<div>
<h2>Local meetup</h2>

<p>
MeetUps are generally held on the second Tuesday of every month at:
Maschinendeck Hackerspace<br />
Güterstraße 74<br />
54295 Trier.<br /><br />

Google Maps:<br />
http://tinyurl.com/gppclhv
</p>
</div>

<div>
<h2>Upcoming MeetUps</h2>

<p>
9 Aug 16<br />
13 Sep 16<br />
11 Oct 16
</p>
</div>

<div>
<h2>Speakers needed</h2>

<p>
Looking for those that could
share their knowledge about
and experience with Python. If
you have a favourite package,
pet project, or topic that you
could present during a meet,
then please consider sharing
with a lightning talk or full
presentation. The choice is
yours!
</p>

</div>

<div>
<h2>Conferences</h2>

<p>
9-11 Sep 16 - Hamburg<br />
Py Unconference<br />
http://www.pyunconf.de<br /><br />

28-30 Oct 16 - Munich<br />
PyCon De<br />
http://www.pymunich.com/
</p>
</div>
