<div>
  <h2>Local meetup</h2>

  <p>
    MeetUps are generally held on the second Tuesday of every month at:
    Maschinendeck Hackerspace<br/>
    Güterstraße 74<br/>
    54295 Trier.<br/><br/>

    Google Maps:<br/>
    <a href="http://tinyurl.com/gppclhv">http://tinyurl.com/gppclhv</a>
  </p>
</div>

<div>
  <iframe width="225" height="439"
          src="https://api.meetup.com/widget?p_width=225&p_urlname=PythonTrier&head=eb20ffc1ccc69ce41599ab455ce077acbe83b8e9&q_groups=224608&name=mug_stats.live.html&p_height=570&q_events=224609&p__name=Meetup+Group+Stats&sig_id=182981860&sig=8fc72c70e9ee268c83d51b2c58375feec5333e56"
          frameborder="0"></iframe>
</div>

<div>

  <h2>Upcoming MeetUps</h2>

  <div id="event-list"></div>
</div>

<div>
  <h2>Speakers needed</h2>

  <p>
    Looking for those that could share their knowledge about and experience with Python. If you have a favourite
    package, pet project, or topic that you could present during a meet, then please consider sharing with a lightning
    talk or full presentation. The choice is yours!
  </p>
</div>

<div>
  <h2>Conferences</h2>

  <p>
    9-11 Sep 16 - Hamburg<br/>
    Py Unconference<br/>
    <a href="http://www.pyunconf.de">http://www.pyunconf.de</a><br/><br/>

    28-30 Oct 16 - Munich<br/>
    PyCon De<br/>
    <a href="http://www.pymunich.com/">http://www.pymunich.com/</a>
  </p>
</div>


<div>
  <h2>Learning Resources</h2>

  <p>
    There are a number of good resources out there to learn Python. This issue, I’d like to highlight Bucky Roberts at
    thenewboston on youtube. His channel for Python3 can be found at: <a href="https://tinyurl.com/p8n5668">https://tinyurl.com/p8n5668</a>.
    He has numerous tutorials on web design and numerous other programming languages as well. His Python section
    currently offers 56 videos. Check it out and let me know what you think.
  </p>
</div>


<div>
  <h2>Group Resources</h2>

  <p>
    <img src="/images/github.png" alt="GitHub" align="left" hspace="5" style="width:50px; height:50px;">There is a
    GitHub account for the group which can be located at: <a href="https://github.com/PythonTrier">https://github.com/PythonTrier</a>
    Presentations, newsletters, and group projects will all be kept here.
  </p>

  <p>
    <img src="/images/Slack.png" alt="Slack" align="left" hspace="5" style="width:50px; height:50px">
    The group also now has a slack account where people can communicate directly
    about meetings, challenges, or anything else in general. The group is “PythonTrier.slack.com.” Just set up an
    account and join the group. There are apps available for Android, iPhone, as well as a web App that can be used on
    most browsers.
  </p>

</div>
